@font-face {
  font-family: "Outfit";
  src: url("../../../fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../../../fonts/RobotoMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/RobotoMono-Regular.ttf") format("truetype");
}
