.table-of-content-center {

}

.table-of-content-center h3, h5{
  text-decoration: underline;
}

.table-of-content-center a:hover {
  cursor : pointer;
  color: white;
}

.projets-pro {
  font-size: 0.9rem;
}

.projets-perso {
  font-size: 0.9rem;
}

.projets-pedagogique {
  font-size: 0.9rem;
}
