.custom {
    background-image: url(https://picsum.photos/id/20/3670);
    background-size: cover;
    background-position: center;
  }

  .card-btn-position {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }