/* Imports */
/* latin-ext */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v19/zOL64pLDlL1D99S8g8PtiKchq-lmjdLh.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v19/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Styles */
body {
  margin: 0;
  width: 1908px;
  box-sizing: border-box;
}

header {
  display: flex;
}

.background {
  background-image: url("../src/images/bg.jpg");
  height: 750px;
  width: 1915px;
}

.logo img {
  padding-top: 120px;
  padding-left: 120px;
  width: 157px;
  height: 67px;
}

.title {
  color: #fff;
  padding-top: 160px;
  padding-left: 250px;
  padding-right: 903px;
  font-size: 25px;
  width: 608px;
}

.nav-bar, a {
  list-style: none;
  color: #fff;
  text-decoration: none;
}

.logo {
  display: flex;
}

.nav-bar {
  display: flex;
  padding-top: 132px;
  justify-content: space-between;
  padding-left: 75px;
}

.nav-bar li {
  margin-right: 50px;
}

/* Section pictogrammes */
section.pictogrammes {
  height: 343px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
  text-align: center;
}

.pictogrammes img {
  width: 65px;
  height: 54px;
}

.magasin {
  font-size: 25px;
  width: 195px;
}

.retrait {
  font-size: 25px;
  width: 250px;
}

.livraison {
  font-size: 25px;
  width: 300px;
}

/* Section meilleures ventes */
.meilleuresventes {
  height: 850px;
  margin: 0 50px;
}

.meilleuresventes h1 {
  font-size: 60px;
  margin-bottom: 0;
}

span {
  display: block;
  content: '';
  width: 75px;
  height: 13px;
  background-color: #ADD981;
  margin-top: 10px;
}

.vignettes {
  display: flex;
  flex-direction: row;
}

.plante-1 {
  background-image: url(../src/images/nos_meilleures_ventes/1.jpg);
  background-size: cover;
  width: 411px;
  height: 568px;
  flex: 1;
  position: relative;
  margin-top: 20px;
}

.plante-2 {
  background-image: url(../src/images/nos_meilleures_ventes/2.jpg);
  background-size: cover;
  width: 411px;
  height: 568px;
  flex: 1;
  position: relative;
  margin-top: 20px;
}

.plante-3 {
  background-image: url(../src/images/nos_meilleures_ventes/3.jpg);
  background-size: cover;
  width: 411px;
  height: 568px;
  flex: 1;
  position: relative;
  margin-top: 20px;
}

.plante-4 {
  background-image: url(../src/images/nos_meilleures_ventes/4.jpg);
  background-size: cover;
  width: 411px;
  height: 568px;
  flex: 1;
  position: relative;
  margin-top: 20px;
}

.bottom {
  background-color: #FFFFFFDF;
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 107px;
}

.prix {
  color: #ADD981;
}

.btn {
  align-self: flex-end;
  background-color: #ADD981;
  margin-right: 50px;
  padding: 10px;
  border-radius: 30px;
}

.btn a {
  border: solid 0px;
  border-radius: 30px;
}

.nom, .prix {
  padding-left: 15px;
  padding-top: 10px;
}

.nom p, .prix p {
  margin-top: 10px;
  margin-bottom: -25px;
  padding-top: 10px;
  position: relative;
}

/* Nos Plantes */
.nos-plantes {
  height: 2000px;
  margin: 0 50px;
}

.nos-plantes h1 {
  font-size: 60px;
  margin-bottom: 0;
}

.grid-vignettes {
  display: grid;
  min-height: 150vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 430px);
  padding-top: 30px;
  grid-gap: 15px;
}

.grid-plante-1 {
  background-image: url(../src/images/nos_plantes/1.jpg);
  background-size: cover;
  grid-column: 1/3;
  grid-row: 1/3;
  position: relative;
}

.grid-plante-2 {
  background-image: url(../src/images/nos_plantes/2.jpg);
  background-size: cover;
  grid-column: 3/5;
  position: relative;
}

.grid-plante-3 {
  background-image: url(../src/images/nos_plantes/3.jpg);
  background-size: cover;
  grid-column: 3/5;
  position: relative;
}

.grid-plante-4 {
  background-image: url(../src/images/nos_plantes/4.jpg);
  background-size: cover;
  grid-column: 1;
  grid-row: 3/5;
  position: relative;
}

.grid-plante-5 {
  background-image: url(../src/images/nos_plantes/5.jpg);
  background-size: cover;
  grid-column: 2/4;
  grid-row: 3/5;
  position: relative;
}

.grid-plante-6 {
  background-image: url(../src/images/nos_plantes/6.jpg);
  background-size: cover;
  grid-row: 3/5;
  grid-column: 4;
  position: relative;
}

.grid-bottom {
  background-color: #FFFFFFDF;
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 107px;
}

.grid-prix {
  color: #ADD981;
}

.grid-btn {
  align-self: flex-end;
  background-color: #ADD981;
  margin-right: 50px;
  padding: 10px;
  border-radius: 30px;
}

.grid-btn a {
  border: solid 0px;
  border-radius: 30px;
}

.grid-nom, .grid-prix {
  padding-left: 15px;
  padding-top: 10px;
}

.grid-nom p, .grid-prix p {
  margin-top: 10px;
  margin-bottom: -25px;
  padding-top: 10px;
  position: relative;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin: 0 50px;
}
